.flexbox-container {
  display: flex; 
  height: 500px;
  padding: 5px;
  background-color: lightcyan;
  
}
.flexbox-item {
  padding: 5px;
  margin: 5px;
  background-color: orange;
  
}

#item01 {
 
  align-self: flex-start;
}

#item03 {
 align-self: center;
}

#item05 {
 align-self: flex-end;
}

#item07 {
 align-self: baseline;
}

